.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

:root {
  --color-poison: #a43e9e;
  --color-bug: #a7b723;
  --color-dark: #75574c;
  --color-dragon: #7037ff;
  --color-electric: #f9cf30;
  --color-fairy: #e69eac;
  --color-fighting: #c12239;
  --color-fire: #f57d31;
  --color-flying: #a891ec;
  --color-ghost: #70559b;
  --color-grass: #74cb48;
  --color-ground: #dec16b;
  --color-ice: #9ad6df;
  --color-normal: #aaa67f;
  --color-psychic: #fb5584;
  --color-rock: #b69e31;
  --color-steel: #b7b9d0;
  --color-water: #6493eb;
  --color-darkgray: #212121;
  --color-white: #ffffff;
  --color-background: #f7f7f7;
  --color-lightgray: #e0e0e0;
  --color-mediumgray: #666666;

  --fontSize10: 10px;
  --lineHeight10: 16px;
  --fontSize12: 12px;
  --lineHeight12: 16px;
  --fontSize14: 14px;
  --lineHeight14: 16px;
  --fontSize24: 24px;
  --lineHeight24: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grass);
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 400px;
}
.card__pokemonIdentity {
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  gap: 16px;
  color: var(--color-white);
}
.card__pokemonIdentity h1 {
  display: flex;
  font-size: var(--fontSize24);
  line-height: var(--lineHeight24);
}

.card__pokemonIdentity h2 {
  display: flex;
  font-size: 16px;
  line-height: 32px;
}
.card__pictures {
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  top: -100px;
  padding: 0px;
  left: 76px;
}

.card__name,
.card__index {
  margin-top: 24px;
}

.card__pokemonDescription {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 290px;
  height: 240px;
  left: 5px;
  top: 100px;
  padding: 56px 20px 0px;
  gap: 16px;
  background: var(--color-white);
  border-radius: 8px;
}

.chip {
  color: var(--color-white);
  border-radius: 10px;
  padding: 4px 8px 2px 8px;
  margin-left: 16px;
}

.card__about {
  font-weight: 700;
  position: absolute;
  top: 90px;
  left: 130px;
  color: var(--color-grass);
}
.card__measurments {
  display: flex;
  position: absolute;
  top: 130px;
  left: 60px;
}
.card__weight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 20px;
  border-right: var(--color-lightgray) solid 1px;
}
.card__height {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20px;
}
.card__description {
  position: absolute;
  top: 190px;
  left: 5px;
}
.measurments {
  font-size: 20px;
  padding-left: 10px;
}
.measurmentsTitle {
  color: var(--color-mediumgray);
  font-size: 16px;
  padding-top: 10px;
}

/*goiko */
